@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #10b981;
  --accent: #f59e0b;
}

body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
